
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Prompt", serif;
    font-weight: 500;
    font-style: normal;
}



#employee {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4); /* พื้นหลังไล่สี */
    padding: 20px;
    border-radius: 12px; /* มุมโค้งมน */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* เงา */
    max-width: 400px;
    margin: 20px auto;
}

#employee h4 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

#employee input {
    background: rgba(255, 255, 255, 0.8); /* พื้นหลังขาวโปร่งแสง */
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

#employee input::placeholder {
    color: #666;
}

#employee input:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

/* เมื่อเลือกแล้วเปลี่ยนสี เวลาเลือกกลุ่ม ผลิตภัณฑ์ */
.step2 .sale .btn-check:checked + .btn {
    color: #00796B;
    border-color: #00796B;
}


/* ซ่อนปุ่มขึ้นลงใน input number */
input[type=number] {
    appearance: textfield;  /* รองรับทุกเบราว์เซอร์ */
    -moz-appearance: textfield;  /* สำหรับ Firefox */
    -webkit-appearance: none;  /* สำหรับ Chrome, Safari, Edge */
}

/* ซ่อนปุ่มขึ้นลงสำหรับ Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}